Repository Lulublamp/ChessMinds: changes, and which GitLab CI jobs are due for each by the changed paths.
All: server, front

.gitlab-ci.yml:

stages:
  - ssh-prepare
  - ssh-connect
  - server
  - front
  - deploy

ssh-prepare:
  stage: ssh-prepare
  script:
    - echo 'ssh test'
    - apt-get update && apt-get install -y openssh-client
    - mkdir -p ~/.ssh && chmod 700 ~/.ssh
    - cat '' > ~/.ssh/config
    - cp artifacts/config ~/.ssh/config
    - cat ~/.ssh/config
    - echo $SSH_PRIVATE_KEY > ~/private.pem
    - chmod 600 ~/private.pem

ssh-connect:
  stage: ssh-connecet
  script:
    ssh vmProjetIntegrateur0-0


deploy:
  stage: deploy
  script:
    - echo 'deploy test'
  only:
    - master


server:
  stage: server
  script:
    - ssh vmProjetIntegrateurgrp0-1
    - echo 'server build'
  only:
    changes:
      - "apps/backend/**/*"

front:
  stage: front
  script:
    - ssh vmProjetIntegrateurgrp0-1
    - echo 'front build'
  only:
    changes:
      - "apps/frontend/**/*"

minor tipo
  .gitlab-ci.yml
Due: none

Add config
  artifacts/config
Due: none

testing pipe -nb1
  apps/frontend/src/pages/Game/Game.tsx
Due: front

add ssh client & test pipeline nb2
  .gitlab-ci.yml
  apps/frontend/src/pages/Game/Game.tsx
Due: front

test pipeline nb3
  .gitlab-ci.yml
  apps/frontend/src/pages/Game/Game.tsx
Due: front

test pipeline nb4
  .gitlab-ci.yml
  apps/frontend/src/pages/Game/Game.tsx
Due: front

test pipeline nb5
  .gitlab-ci.yml
  apps/frontend/src/pages/Game/Game.tsx
Due: front

test pipeline nb6
  .gitlab-ci.yml
  apps/frontend/src/pages/Game/Game.tsx
Due: front

test pipeline nb7
  .gitlab-ci.yml
  apps/frontend/src/pages/Game/Game.tsx
Due: front

minor changes & test pipeline nb8
  .gitlab-ci.yml
  .prepare.yml
  apps/frontend/src/pages/Game/Game.tsx
Due: front

test pipeline nb9
  .gitlab-ci.yml
  apps/frontend/src/pages/Game/Game.tsx
Due: front

test pipeline nb10
  .gitlab-ci.yml
  apps/frontend/src/pages/Game/Game.tsx
Due: front

test pipeline nb11 :'(
  .gitlab-ci.yml
  apps/frontend/src/pages/Game/Game.tsx
Due: front

TT PP NB12
  .gitlab-ci.yml
  apps/frontend/src/pages/Game/Game.tsx
Due: front

tipo
  .gitlab-ci.yml
  apps/frontend/src/pages/Game/Game.tsx
Due: front

tipopopo
  .gitlab-ci.yml
  apps/frontend/src/pages/Game/Game.tsx
  prepare.yml
Due: front

trigger to script test
  .gitlab-ci.yml
  apps/frontend/src/pages/Game/Game.tsx
Due: front

retest ouuuf
  .gitlab-ci.yml
  apps/frontend/src/pages/Game/Game.tsx
Due: front

tt pp nb?
  .gitlab-ci.yml
Due: none

tt pp nb??
  .gitlab-ci.yml
Due: none

tt pp
  .gitlab-ci.yml
Due: none

tt pp docker ?
  .gitlab-ci.yml
Due: none

backend clean build
  apps/backend/src/app.module.ts
Due: server

readd ingame module
  apps/backend/src/app.module.ts
Due: server

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

add instaling vpn
  .gitlab-ci.yml
Due: none

modif de certain detaille pour l'affichage
  apps/frontend/src/components/Navigation/Connexion.tsx
  apps/frontend/src/components/Navigation/Inscription.tsx
  apps/frontend/src/components/Navigation/MDPOublie.tsx
  apps/frontend/src/components/Navigation/NavBar.tsx
Due: front

mini modif
  apps/frontend/src/components/Navigation/Connexion.tsx
Due: front

Update vite fais
  .gitlab-ci.yml
Due: none

add ovpn
  artifacts/unistra.ovpn
Due: none
